<div class="container ms-5 mt-5">
  <div class="row">
    <div class="col-lg-8">
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide"
        data-bs-ride="carousel"
        data-bs-interval="2000"
      >
        <div class="carousel-inner bg-body-tertiary">
          <div class="carousel-item active">
            <img
              src="https://pbs.twimg.com/media/FAsFWjwVkAEqW6h.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxCGpii2wt0Bgm2-CW0KtA2HQfERPCnH1IZ8QoyM7Eh0-VMXbEaeXSAa3YBUgWHcrv8Eg&usqp=CAU"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="https://pbs.twimg.com/media/FASkqfsUYAMP1u3.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="https://pbs.twimg.com/media/FJIKrHOaAAI8scV.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div
      class="side col-lg-4 bg-body-tertiary shadow p-3 mb-5 bg-white rounded"
    >
      <p class="pg1 ms-5">Personal Banking Services</p>
      <h3>What Are You Looking For?</h3>
      <select class="btn btn-secondary">
        <option value="">credit card</option>
        <option value="">Loans</option>
        <option value="">Gold Loans</option>
        <option value="">Debit card</option>
        <option value="">NRI account</option>
      </select>
      <br />
      <br />
      <select class="btn btn-secondary">
        <option value="">credit card</option>
        <option value="">Loans</option>
        <option value="">Gold Loans</option>
        <option value="">Debit card</option>
        <option value="">NRI account</option>
      </select>
      <br /><br />
      <button class="btn btn-secondary">Apply online</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="line">
    <p class="p2">
      <strong>
        <marquee title="hai"
          >Provide registered mobile number with HDFC Bank & your DOB or PAN
          ,Personal Loan EMI, Ways To Bank Rates Bank Holiday List Glossary
          Watch Videos Learning Centre Auction Notices Forms Centre Fees &
          Charges Online Services Notice Board Credit Card Savings Account
          Salary Account Fixed Deposit Personal Loan Home Loan Car Loan Two
          Wheeler Loan Demat Account Fastag Forex Card Calculators Personal Loan
          EMI Calculator Car Loan EMI Calculator Two Wheeler EMI Calculator
          Fixed Deposit Calculator Recurring Deposit Calculator Car Loan BT
          Top-Up Calculator Loans On Credit Card EMI Calculator</marquee
        >
      </strong>
    </p>
  </div>
</div>
<!-- nav bar -->


