    <div class="row">

        <nav class="navbar bg-body-tertiary">

            <div class="container-fluid col-lg-12">
                <a class="navbar-brand" href="#">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/HDFC_Bank_Logo.svg/2560px-HDFC_Bank_Logo.svg.png" alt="Bootstrap" width="190" height="44">
                </a>
                <div class="links">
          
                  <a href="">personal</a>
                  <a href="">NRI</a>
                  <a href="">SME</a>
                  <a href="">Wholesale</a>
                  <a href="">Agri</a>
          
                </div>
                <div class="bal col-lg-2">
                  <a href="" ><i class="fa-solid fa-location-dot"></i>Locate us</a>
          <a href=""><i class="fa-solid fa-lightbulb"></i>Blog</a>
          
                </div>
                
              </div>
            </nav>

    </div>
  
        <div class="container-fluids ">


            <nav class="navbar bg-body-tertiary shadow p-3 mb-5 bg-white rounded">
                <div class="container">
                  <form class="d-flex" style="padding: 2%;" role="search">
                    <h5 class="me-5 ms-5">Welcome</h5>
                    <i class="fa-solid fa-magnifying-glass ms-5 mt-2"></i>
                    <input  class="form-control me-2 ms-1" type="search"  placeholder="search.. " aria-label="Search">
                    <i class="fa-solid fa-microphone mt-2" style="background-color: rgb(190, 190, 233); border-radius: 50%; height: 100%; width: 5%;"></i>  <div class="btn-group">
                      <button type="button" class="btn btn-primary ms-5 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Login
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </form>
                </div>
              </nav>

        </div>
        
    <!-- <nav class="navbar bg-body-tertiary mb-4">  
        <div class="container-fluid">
           
        
          <div class="links1">
            <a href=""><i class="fa-solid fa-house"></i>Home</a>
            <a href=""><i class="fa-solid fa-money-bill"></i>pay</a>

          </div>
        </div>
      </nav> -->
   
