a{
    text-decoration: none;
    color: white;
    padding: 8px;
    

}
a:hover{
    text-decoration: underline;
}
.container-fluid{
    background-color: rgba(7, 141, 252, 0.664);
    padding: 2px;
    
 

}
.links{
   margin-right:50%;
   
}
.navbar-brand{
    margin-left: 11%;
    
}
.bal{
    margin-left: 70%;
    margin-top: -3%;

    color: red;
}
.container-fluids{
    background-color: rgb(33, 196, 196);
    width: 100%;
    height: 80px;
 
    
}
.container{
    padding: 2px;
    align-items: center;
}
.dropdown-menu{
    background-color: black;
}
.row{
   
    position: sticky;
    top: 0;
   
    z-index: 100;
  
    
}
