<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>Calclute for your needs</h2>

            <div class="card bg-body-tertiary">
                <!-- <div class="card-header">
                
                </div> -->
                <div class="card-body">
                    <img class="mt-2" src="http://creditdebitcardoffers.com/artimgs/HDFC-Smartoff.png" alt="">
                    <img class="mt-3" src="https://s3-ap-southeast-1.amazonaws.com/cashback-static/upload/files/2021-04-15/1e81c596b77a88c3caedb6b754c19091.jpg" alt="">
                    <img class="mt-2" src="https://static.goindigo.in/content/dam/indigov2/6e-website/header/campaigns/2019/07/SME_Desktop-Landingpage-mobile-banner.jpg" alt="">


                  <h5 style="margin-left: 80%;color: rgb(85, 85, 192);">View All</h5>
                 
                </div>
              </div>

        </div>
        <div class="col-lg-3">
            <h3>offer for you</h3><div class="card bg-body-tertiary" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Bigger Better rewards</h5>
                  <img src="https://images.freekaamaal.com/post_images/1559735378.jpg" alt="">
                  <p class="card-text">On credit Cards</p>
                </div>
              </div>

              <!-- 2cars -->
              <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Bigger Saving Assured</h5>
                      <img src="https://d157777v0iph40.cloudfront.net/smartbuy3.0/images/offers/smartbuylogo.jpg" alt="">
                      <p class="card-text">On Smart Buy</p>

                      <p style="margin-left: 70%;">View All</p>
                    </div>
              </div>
                


        </div>
        <div class="col-lg-3">
            <h3>Need help?</h3>
            <div class="card" style="width: 18rem;">
                
                <div class="card-body">
                  <h5 class="card-title">Contact us      |  NetBanking</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">insta service</li>
                  <li class="list-group-item">Chat on whatsapp</li>
                  <li class="list-group-item">Intest Rates</li>
                  <li class="list-group-item">Credit Cardsevices</li>
                  <li class="list-group-item">Report unauthorized transcations</li>


                </ul>
                <div class="card-body">
                  <a href="#" style="margin-left: 70%;" ></a>view all
                </div>
              </div>
        </div>
    </div>
    <!-- second row -->

  
      
            <div cdkDrag cdkDragLockAxis="x" (cdkDragMoved)="onDragMoved($event)">
                <div class="row mt-5">
                    <h5>Latest offers</h5>



<div class="col-lg-3">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Travel</h5>
          <img src="https://pbs.twimg.com/media/FASkqfsUYAMP1u3.jpg" alt="offer img">
          <p class="card-text">Fly with ease with holiday season</p>
        </div>
      </div>



</div>
<div class="col-lg-3">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Electonics</h5>
          <img src="https://i0.wp.com/www.premiumoffers.in/wp-content/uploads/2021/04/img_20210402_204506_optimized.jpg?fit=669%2C351&ssl=1" alt="offer2 img">
          <p class="card-text">Avail exciting offers with smart buying</p>
        </div>
      </div>

</div>
<div class="col-lg-3">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Credit card </h5>
          <img src="https://1.bp.blogspot.com/-1KRsctUOWQI/X2TWCtjBm3I/AAAAAAAAFJ8/V2IRyNLPvaod1-GFXrIYXSa7AVoMybSvgCLcBGAsYHQ/s562/HDFC%2BCashback%2BOffer.jpg" alt="demoimg">
          <p class="card-text">check the creadit card offers earn up to 1 lakh</p>
        </div>
      </div>
</div>
<div class="col-lg-3">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Net banking</h5>
          <img src="https://s3.ap-south-1.amazonaws.com/img1.creditmantri.com/community/article/how-to-generate-hdfc-bank-credit-card-pin-online-via-ivr-netbanking.jpg" alt="">
          <p class="card-text">Save big across popular brands</p>
        </div>demo images
      </div>
</div>







            </div>





   


  <!-- row3 -->

             







    </div>


    <h5 class="mt-4">ways to bank &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;         High Net worth banking</h5> <h5 style="margin-left: 80%;"></h5>

    <div cdkDrag cdkDragLockAxis="x" (cdkDragMoved)="onDragMoved($event)">


    <div class="row mt-5">
        <div class="col-lg-2">
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">Whatsapp banking</h5>
                  <img src="https://images.livemint.com/img/2022/11/22/600x338/whatsapp_1669093657706_1669093657965_1669093657965.jpg" alt="">
                  <p class="card-text">180+ banking service at fingure tip</p>
                </div>
              </div>
            
    
        </div>
        <div class="col-lg-2">
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">SME Digetal</h5>
                  <img src="https://inc42.com/wp-content/uploads/2021/05/AA-feauture-min.jpg" alt="">
                  <p class="card-text">the safest and quickest ways to oprate your credit card</p>
                </div>
              </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">Mobile banking</h5>
                  <img src="https://hindi.cdn.zeenews.com/hindi/sites/default/files/2018/08/02/266476-hdfc-bank-mobile-app.jpg" alt="mbnaking">
                  <p class="card-text">faaster and safer</p>
                </div>
              </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">UPI payment</h5>
                  <img src="https://www.hdfcsec.com/hsl.images/UPI_FOR_IPOS_Blog_751x423-202110221031093570263.jpg" alt="">
                  <p class="card-text">100+ transcations on a single moble </p>
                </div>
              </div>
        </div>

        <div class="col-lg-2">
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">Bigger Better rewards</h5>
                  <img src="https://images.freekaamaal.com/post_images/1559735378.jpg" alt="">
                  <p class="card-text">Instants and easy payments</p>
                </div>
              </div>
            
            
        </div>
        <div class="col-lg-2">


            <div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">HDFC bank mycarddnow</h5>
                  <img src="https://leads.hdfcbank.com/applications/webforms/apply/HdfcBank_PlatinumCreditCard/CCSEM/images/reward_points_Card.png" alt="">
                  <p class="card-text">On credit Cards</p>
                </div>
              </div>
        </div>
    </div>
    </div>

    <h5 class="mt-5">Recommended Articles For You</h5>
    <div class="row mt-3">
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="https://img.etimg.com/thumb/msid-95208683,width-640,height-480,imgsize-108104,resizemode-4/stock-ideas.jpg" class="card-img-top" alt="newtax">
                <div class="card-body">
                  <p class="card-text">Difference between new tax and old tax</p>
                </div>
              </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="https://i0.wp.com/financebuddha.com/blog/wp-content/uploads/2020/05/Why-Choose.png?fit=945%2C532&ssl=1" class="card-img-top" alt="home img">
                <div class="card-body">
                  <p class="card-text">Home loans and more click for more imformation</p>
                </div>
              </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="https://loanpersonal.in/wp-content/uploads/2021/11/hdfc-infinia-credit-card-reviews.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">How to actvate creditcard stepbystep</p>
                </div>
              </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="https://pbs.twimg.com/media/Fa_Q_YGVsAIZwo0.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">more about the HDFC mobile banking</p>
                </div>
              </div>
        </div>
    </div>
    
</div>
